{% extends 'base.html.twig' %}

{% block title %}Liste de certifications{% endblock %}

{% block body %}

<div class="container">
    
    <h1 class="text-center">Certifications</h1>
    
    <ul class="list-group">
        {% for k, file in files %}
        <li class="list-group-item">
            <a href="pdf/{{ file }}">{{ file }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
